body {
  height: 100vh;

  display: flex;

  justify-content: center;
  align-items: center;

  transform: translate(-3rem, -10rem);
}

.app {
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amt {
  margin: 2rem 0;

  display: flex;
  gap: 1rem;
  justify-content: center;
}

.convert {
  display: flex;
  gap: 1rem;
}
